@using SozlukApp.Entity
@model Entry

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Entry</legend>
        @Html.HiddenFor(model => model.EntryId)

        <div class="editor-label">
            @Html.LabelFor(model => model.UserId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UserId)
            @Html.ValidationMessageFor(model => model.UserId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TopicId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TopicId)
            @Html.ValidationMessageFor(model => model.TopicId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.HeaderId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.HeaderId)
            @Html.ValidationMessageFor(model => model.HeaderId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Text)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Text)
            @Html.ValidationMessageFor(model => model.Text)
        </div>


        <div class="editor-label">
            @Html.LabelFor(model => model.Posttime)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Posttime)
            @Html.ValidationMessageFor(model => model.Posttime)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LikeCount)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LikeCount)
            @Html.ValidationMessageFor(model => model.LikeCount)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UnlikeCount)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UnlikeCount)
            @Html.ValidationMessageFor(model => model.UnlikeCount)
        </div>

        <br />
        <p>
            <input type="submit" class="btn btn-success" s value="Kaydet" />
        </p>
    </fieldset>
}


<div>
    @Html.ActionLink("Geri Dön", "List")
</div>



